.flex-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

.flex-container > h1 {
  margin-top: 0.4rem;
  font-weight: bold;
}
.flex-container > h3 {
  margin-top: 1rem;
  font-weight: bold;
}
.flex-container p {
  margin-top: 0.4rem;
  font-weight: bold;
  color: rgb(77, 67, 67);
}
.flex-container img {
  order: -1;
  align-self: center;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.flex-button {
  margin-top: 0.5rem; /* auto; */
  background: rgb(247, 218, 207);
  color: rgb(15, 15, 15);
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 1.2rem;
  border-color: rgb(32, 30, 30);
  margin-left: 2rem;
  cursor: pointer;
}
.flex-button:hover {
  background: rgb(49, 47, 46);
  color: white;
  padding: 0.5rem;
  border: 1px solid rgb(224, 87, 24);
}

.custom-youtube-player {
  position: fixed;
  width: 450px;
  height: 300px;
  bottom: 40px;
  right: 40px;
  background: #000;
}
.custom-youtube-player .close,
.custom-youtube-player .handle {
  position: absolute;
  right: 0px;
  top: -30px;
  width: 32px;
  height: 32px;
  background: #000;
  color: #fff;
  opacity: 1;
  padding: 3px;
  cursor: pointer;
}
.custom-youtube-player .handle {
  right: 32px;
  padding-top: 8px;
  cursor: move;
}

.img {
  position: relative;
  cursor: pointer;
}

.img:hover::after{
  position: absolute;
  content: "Click to play the Video";
  top: 30%;
  left: 50%;
  font-size: .7rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: rgba(255, 244, 86, 0.904);
	transition: all .2s ease;
  cursor: crosshair;
} 