.header {
  margin-top: 0.1rem;
  font-weight: bold;
  border-style: solid;
  text-decoration-line: none;
  padding: 2rem;
  background-color: #c05621;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  border-width: 0;
  border-style: solid;
}
.header h1 {
  font-size: 2.25rem;
  color: white;
  background-color: transparent;
  text-decoration: none;
  color: aliceblue;
}
