* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  text-decoration: none;
}

/* fallback layout */

main {
  max-width: 500px;
  margin: 0;
  display: block;
}

@supports (display: grid) {
  main {
    max-width: 10000px;
    margin: 0;
  }
}

*:focus {
  outline: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
  /* 1 */
  overflow: visible;
}

a {
  color: black;
}

.custom-youtube-player {
  position: fixed;
  width: 450px;
  height: 300px;
  bottom: 40px;
  right: 40px;
  background: #000;
}
.custom-youtube-player .close,
.custom-youtube-player .handle {
  position: absolute;
  right: 0px;
  top: -1.9rem !important;
  width: 1.8rem !important;
  height: 2rem !important;
  background: #000;
  color: #fff;
  opacity: 1;
  padding: .4rem !important;
  cursor: pointer;
  border-radius: 4px;
}


.custom-youtube-player .handle {
  right: 32px;
  padding-top: .4rem;
  cursor: move;
  padding-left: .4rem;
}

.svg-inline--fa.fa-w-11 {
  width: 1rem;
}

.svg-inline--fa {
 height: 1.3rem !important;
}

